<form class="container" hx-post="/visualbasic.exe/post/{{ .Topic.Id }}" hx-target="#new-post" hx-swap="outerHTML">
    <input type="hidden" value="{{ .Identity.Name }}" name="creator" />
    <div class="form-group mb-3">
        <input type="text" class="bg-secondary text-light form-control" name="subject" placeholder="..." value="re: {{ .Topic.Subject }}">
    </div>
    <div class="form-group mb-3">
        <textarea class="bg-secondary text-light form-control" placeholder="..." name="content"></textarea>
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="badge bg-dark text-light btn form-control">Reply</button>
    </div>
</form>