<form class="container" hx-put="/visualbasic.exe/post/{{ .Id }}" hx-target="this" hx-swap="outerHTML">
    <div class="form-group mb-3">
        <input type="text" class="form-control mb-1 p-1" name="subject" placeholder="..." value="{{ .Subject }}">
        <textarea class="form-control p-1" placeholder="..." name="content">{{ .Content }}</textarea>
    </div>
    <span class="btn-group p-0" role="group">
        {{if or (eq .Identity.Powers 95) (eq .Identity.Id .Post.CreatorId)}}
        <button type="submit" class="btn btn-ghost btn-sm">✅ save</button>
        {{end}}
        <button type="submit" class="btn btn-ghost btn-sm" hx-get="/post/{{ .Id }}">❌ cancel</button>
    </span>
</form>