<nav class="navbar navbar-light bg-secondary text-dark mb-3 p-0">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">🧵 Root</a>
        <span class="nav-item">
            <a class="nav-link" href="/chat">🚽 Chat</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" href="/bicho">🐶 Jogo do bicho</a>
        </span>
        {{ if eq .Identity.Powers 95}}
            <span class="nav-item">
                <a class="nav-link" href="/cop/reports">📣 Reports</a>
            </span>
            <span class="nav-item">
                <a class="nav-link" href="/cop/bans">🔨 Bans</a>
            </span>
        {{ end }}
        <span class="navbar nav-item">
            <a class="nav-link" href="/by/{{ .Identity.Id }}">
            {{ .Identity.Name }} {{if eq .Identity.Powers 95}} 👮‍♂️ {{end}}
            </a>
        </span>
    </div>
</nav>