<div class="p-1">
    <div class="container">
        {{ range $index, $report := .Reports }}
            <div hx-target="this" hx-swap="innerHTML" class="alert alert-light p-1 mx-1 my-2">
                <p class="mx-2 mb-0">
                    {{ $report.Message }}
                </p>
                <p class="badge text-dark">
                    submitted by <a href="/by/{{ $report.CreatorID }}">{{ $report.CreatorName }}</a>
                </p>
                {{ if $report.OriginalPost}}
                    {{template "partials/post" (m "Post" $report.OriginalPost "Identity" $.Identity)}}
                {{ end }}
                <button class="btn btn-sm btn-link" hx-post="/cop/reports/{{ $report.PostID }}/dismiss">dismiss report</button>                    
            </div>
        {{ end }}
    </div>
</div>