<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>🧵</title>
    <style>
            .ticker::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            .ticker::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
            
            /* Handle */
            .ticker::-webkit-scrollbar-thumb {
                background: #bbb; 
            }

            /* Handle on hover */
            .ticker::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-dark text-light mb-3 sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1 text-light" href="/">🧵 HILOS</a>
            <span class="navbar nav-item">{{ .Identity.Name }}</span>
        </div>
    </nav>
    <!-- 
    <div class="container">
        {{ .Identity }}
    </div>
    -->

    <div class="container">
        <div class="card mb-3">
            <div class="ticker card-header pb-0 overflow-auto text-nowrap" hx-get="/new" hx-trigger="every 2s">
                {{ range $index, $post := .LastPosts }}
                <a href="/{{ $post.Id }}">{{ crop $post.Content }}</a> -
                {{ end }}
            </div>

            <div class="card-body">
            {{ range $index, $topic := .Topics }}
                    <div class="badge bg-light text-dark">{{ $topic.Creator }}</div>
                    <div class="badge bg-light text-dark">{{ $topic.ReplyCount }}</div>
                    <br/>
                    <a href="/{{ $topic.Id }}">{{ $topic.Subject }}</a>
                    <p style="white-space: pre-line;">{{ $topic.Content }}</p>
            {{ end }}
            </div>
        </div>

    </div>

</body>
</html>